<a href="https://www.kaggle.com/code/fejnrenrjen/task2-data-exploration-housing-supply?scriptVersionId=99407917" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/housing-supply/3410013501-eng.csv
/kaggle/input/housing-affordability-in-canada/Structural-dwellings-household-size.csv
/kaggle/input/housing-affordability-in-canada/population_dwellings_count.csv
/kaggle/input/housing-affordability-in-canada/HPI 1981-2022 national and provincial.csv

In [2]:
#creating the filepath variable
filepath = '../input/housing-supply/3410013501-eng.csv'

In [3]:
#read the csv file and skip the rows that are not needed(refer to the original csv file)
df = pd.read_csv(filepath,skiprows = 10)
#df = pd.read_csv(filepath,skiprows = -6)
# delete a row by index value 0 which is not necesaary for our case
df = df.drop(labels=0, axis=0)

In [4]:
df.head()

  Housing estimates     Type of unit Q1 2021 Q2 2021 Q3 2021 Q4 2021 Q1 2022
1    Housing starts      Total units  59,177  74,632  69,115  68,958  48,357
2               NaN  Single-detached  15,725  24,100  22,854  19,891  12,937
3               NaN        Multiples  43,452  50,532  46,261  49,067  35,420
4               NaN    Semi-detached   2,912   4,209   3,026   3,173   2,411
5               NaN              Row   5,661   7,645   7,566   7,718   5,018

In [5]:
df.tail(6)

,Housing estimates,Type of unit,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Q1 2022
19,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN
20,1,Geographical areas modified every 5 years to r...,NaN,NaN,NaN,NaN,NaN
21,2,These data are obtained from Canada Mortgage a...,NaN,NaN,NaN,NaN,NaN
22,3,"For additional information and definitions, re...",NaN,NaN,NaN,NaN,NaN
23,How to cite: Statistics Canada. Table 34-10-01...,NaN,NaN,NaN,NaN,NaN,NaN
24,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# These last rows are not necessary so we will drop these rows
#Number of rows to drop
n = 6
 
# Removing last n rows
df_dropped_last_n = df.iloc[:-n]
 
# Printing dataframe
df_dropped_last_n.tail()

,Housing estimates,Type of unit,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Q1 2022
14,NaN,Single-detached,"14,639","16,618","18,344","19,475","16,867"
15,NaN,Multiples,"31,380","44,032","41,803","36,732","34,061"
16,NaN,Semi-detached,"2,682","3,098","3,238","3,179","2,731"
17,NaN,Row,"5,383","6,406","5,787","6,463","5,019"
18,NaN,Apartment and other unit type,"23,315","34,528","32,778","27,090","26,311"

In [7]:
#We will first set the index to 'Type of unit' to find out whether it can give some insights
df_new = df_dropped_last_n.set_index("Type of unit")
df_new.head()

                Housing estimates Q1 2021 Q2 2021 Q3 2021 Q4 2021 Q1 2022
Type of unit
Total units        Housing starts  59,177  74,632  69,115  68,958  48,357
Single-detached               NaN  15,725  24,100  22,854  19,891  12,937
Multiples                     NaN  43,452  50,532  46,261  49,067  35,420
Semi-detached                 NaN   2,912   4,209   3,026   3,173   2,411
Row                           NaN   5,661   7,645   7,566   7,718   5,018

In [8]:
#Fill NaN values with Housing estimates values 
df_new['Housing estimates'].fillna(method='ffill', inplace=True)

In [9]:
#check whether we will fill NaN values with housing estimates values
df_new['Housing estimates'].unique()

array(['Housing starts', 'Housing under construction',
       'Housing completions'], dtype=object)

In [10]:
df_new.head()

                Housing estimates Q1 2021 Q2 2021 Q3 2021 Q4 2021 Q1 2022
Type of unit
Total units        Housing starts  59,177  74,632  69,115  68,958  48,357
Single-detached    Housing starts  15,725  24,100  22,854  19,891  12,937
Multiples          Housing starts  43,452  50,532  46,261  49,067  35,420
Semi-detached      Housing starts   2,912   4,209   3,026   3,173   2,411
Row                Housing starts   5,661   7,645   7,566   7,718   5,018

In [11]:
df_new.tail()

,Housing estimates,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Q1 2022
Type of unit,,,,,,
Single-detached,Housing completions,"14,639","16,618","18,344","19,475","16,867"
Multiples,Housing completions,"31,380","44,032","41,803","36,732","34,061"
Semi-detached,Housing completions,"2,682","3,098","3,238","3,179","2,731"
Row,Housing completions,"5,383","6,406","5,787","6,463","5,019"
Apartment and other unit type,Housing completions,"23,315","34,528","32,778","27,090","26,311"

In [12]:
df_new.describe()

       Housing estimates Q1 2021 Q2 2021 Q3 2021 Q4 2021 Q1 2022
count                 18      18      18      18      18      18
unique                 3      18      18      18      18      18
top       Housing starts  59,177  74,632  69,115  68,958  48,357
freq                   6       1       1       1       1       1

In [13]:
df_new.shape

(18, 6)

In [14]:
df_new = df_new.reset_index()
df_new.head()

      Type of unit Housing estimates Q1 2021 Q2 2021 Q3 2021 Q4 2021 Q1 2022
0      Total units    Housing starts  59,177  74,632  69,115  68,958  48,357
1  Single-detached    Housing starts  15,725  24,100  22,854  19,891  12,937
2        Multiples    Housing starts  43,452  50,532  46,261  49,067  35,420
3    Semi-detached    Housing starts   2,912   4,209   3,026   3,173   2,411
4              Row    Housing starts   5,661   7,645   7,566   7,718   5,018

In [15]:
df_clean = df_new.drop(df_new[df_new['Type of unit'] == 'Total units'].index)
df_clean.head()

,Type of unit,Housing estimates,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Q1 2022
1,Single-detached,Housing starts,"15,725","24,100","22,854","19,891","12,937"
2,Multiples,Housing starts,"43,452","50,532","46,261","49,067","35,420"
3,Semi-detached,Housing starts,"2,912","4,209","3,026","3,173","2,411"
4,Row,Housing starts,"5,661","7,645","7,566","7,718","5,018"
5,Apartment and other unit type,Housing starts,"34,879","38,678","35,669","38,176","27,991"

In [16]:
df_clean.describe()

,Type of unit,Housing estimates,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Q1 2022
count,15,15,15,15,15,15,15
unique,5,3,15,15,15,15,15
top,Single-detached,Housing starts,"15,725","24,100","22,854","19,891","12,937"
freq,3,5,1,1,1,1,1

In [17]:
df_clean.dtypes

Type of unit         object
Housing estimates    object
Q1 2021              object
Q2 2021              object
Q3 2021              object
Q4 2021              object
Q1 2022              object
dtype: object

In [21]:
#need to replace comma if not then we cannot change object to integer
df_clean['Q1 2021'] = df_clean["Q1 2021"].str.replace(',','')
df_clean['Q2 2021'] = df_clean["Q2 2021"].str.replace(',','')
df_clean['Q3 2021'] = df_clean["Q3 2021"].str.replace(',','')
df_clean['Q4 2021'] = df_clean["Q4 2021"].str.replace(',','')
df_clean['Q1 2022'] = df_clean["Q1 2022"].str.replace(',','')

In [23]:
df_clean['Q1 2021'] = df_clean['Q1 2021'].astype(int)
df_clean['Q2 2021'] = df_clean["Q2 2021"].astype(int)
df_clean['Q3 2021'] = df_clean["Q3 2021"].astype(int)
df_clean['Q4 2021'] = df_clean["Q4 2021"].astype(int)
df_clean['Q1 2022'] = df_clean["Q1 2022"].astype(int)

In [24]:
df_clean.dtypes

Type of unit         object
Housing estimates    object
Q1 2021               int64
Q2 2021               int64
Q3 2021               int64
Q4 2021               int64
Q1 2022               int64
dtype: object

In [25]:
df.to_csv('/kaggle/working/output_updated.csv')